<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= selected.productName%></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.css"
      integrity="sha512-ywmPbuxGS4cJ7GxwCX+bCJweeext047ZYU2HP52WWKbpJnF4/Zzfr2Bo19J4CWPXZmleVusQ9d//RB5bq0RP7w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <div class="content">
      <nav class="nav shadow sticky-top bg-white">
        <div class="logo">
          <p class="mt-1 ms-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              width="80.4285714285716"
              height="55.2548562170148"
              viewBox="0 0 3171.4285714285716 1508.2548562170148"
            >
              <g transform="scale(8.571428571428571) translate(10, 10)">
                <defs id="SvgjsDefs2216" />
                <g
                  id="SvgjsG2217"
                  featureKey="symbolFeature-0"
                  transform="matrix(2.530019872686519,0,0,2.530019872686519,-15.959366785293025,-2.9778335059671512)"
                  fill="#000"
                >
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <g>
                        <path
                          d="M17.362,4.676c5.027,11.327,7.524,29.99,8.718,43.127c-5-10.232-11.878-17.892-14.759-20.856l4.898-5.969     l1.349-1.643l-1.722-1.246l-6.535-4.728L17.362,4.676 M17.878,1.177l-11.57,12.48l8.365,6.051l-6.052,7.375     c0,0,16.732,15.693,20.471,35.738C29.092,62.822,27.667,19.331,17.878,1.177L17.878,1.177z"
                        />
                      </g>
                      <g>
                        <path
                          d="M46.639,4.676l8.051,8.686l-6.534,4.727l-1.723,1.246l1.349,1.643l4.897,5.969     c-2.88,2.964-9.758,10.625-14.758,20.856C39.114,34.667,41.61,16.002,46.639,4.676 M46.122,1.177     c-9.789,18.153-11.213,61.645-11.213,61.645c3.738-20.045,20.47-35.738,20.47-35.738l-6.052-7.375l8.364-6.051L46.122,1.177     L46.122,1.177z"
                        />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M25.602,5.024l1.889,0.896l-1.834,0.625C25.638,6.056,25.62,5.537,25.602,5.024 M23.525,1.826     c0,1.869,0.24,7.475,0.24,7.475l9.038-3.078L23.525,1.826L23.525,1.826z"
                        />
                      </g>
                      <g>
                        <path
                          d="M38.398,5.024c-0.018,0.513-0.036,1.031-0.055,1.52L36.51,5.919L38.398,5.024 M40.476,1.826L31.2,6.223     l9.036,3.078C40.235,9.301,40.476,3.695,40.476,1.826L40.476,1.826z"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <g
                  id="SvgjsG2218"
                  featureKey="nameFeature-0"
                  transform="matrix(2.780867701500568,0,0,2.780867701500568,150.00000011395494,6.186874661732027)"
                  fill="#000"
                >
                  <path
                    d="M9.32 23.04 c0.88 0.88 1.44 2.08 1.44 3.4 l0 8.76 c0 2.64 -2.16 4.8 -4.8 4.8 l-5.92 0 l-0.04 -28.48 l5.28 0 c2.92 0.12 4.64 2.92 4.6 5.56 l-0.04 3.96 c0 0.72 -0.2 1.4 -0.52 2 z M5.96 36.16 c0.56 0 1 -0.44 1 -0.96 l-0.04 -8.76 c0 -0.56 -0.44 -0.96 -0.96 -0.96 l-2.12 0 l0 10.68 l2.12 0 z M3.8 15.32 l0 6.32 l1.6 0 c0.32 0 0.64 -0.28 0.64 -0.64 l0.04 -3.96 c0 -0.8 -0.4 -1.68 -0.96 -1.72 l-1.32 0 z M18.56 18.28 c2.72 0 4.92 2.16 4.92 4.88 l0 1.92 l-3.8 0 l0 -1.92 c0 -0.64 -0.48 -1.12 -1.12 -1.12 l-0.84 0 c-0.6 0 -1.12 0.48 -1.12 1.12 l-0.08 16.88 l-3.76 0 l0.08 -16.88 l0 -5.76 l3.76 0 l0 1 c0.36 -0.08 0.76 -0.12 1.12 -0.12 l0.84 0 z M34.84 32.76 l0 7.2 l-3.68 0 l0 -0.12 c-0.36 0.08 -0.72 0.12 -1.12 0.12 c-2.8 0 -5.04 -2.24 -5.04 -5.04 l0 -4.28 c0 -1.12 0.44 -2.16 1.24 -2.96 c0.76 -0.76 1.8 -1.2 2.92 -1.2 l1.92 0 l0 -4.32 c0 -0.6 -0.52 -1.12 -1.12 -1.12 l-0.2 0 c-0.64 0 -1.12 0.52 -1.12 1.12 l0 3.04 l-3.72 0 l0 -3.04 c0 -2.68 2.16 -4.84 4.84 -4.84 l0.2 0 c2.68 0 4.84 2.16 4.84 4.84 z M30.040000000000003 36.24 c0.6 0 1.12 -0.48 1.12 -1.08 l-0.04 -4.92 l-1.96 -0.04 c-0.16 0 -0.24 0.08 -0.32 0.12 c-0.04 0.08 -0.12 0.16 -0.12 0.32 l0 4.28 c0 0.72 0.6 1.32 1.32 1.32 z M41.64 17.36 c2.64 0 4.8 2.16 4.8 4.8 l0 18 l-3.84 0 l0 -18 c0 -0.52 -0.44 -0.96 -0.96 -0.96 s-0.96 0.44 -0.96 0.96 l0 18 l-3.84 0 l0 -23.52 l3.84 0 l0 0.84 c0.32 -0.08 0.64 -0.12 0.96 -0.12 z M59.2 11.440000000000001 l0 28.6 l-5.96 0 c-2.64 0 -4.8 -2.12 -4.8 -4.8 l0 -13.08 c0 -2.64 2.16 -4.8 4.8 -4.8 l2.12 0 l0 -5.92 l3.84 0 z M55.36000000000001 21.16 l-2.12 0 c-0.56 0 -1 0.44 -1 1 l0 13.08 c0 0.56 0.44 1 1 1 l2.12 0 l0 -15.08 z M66.56 39.96 c-2.96 0 -5.36 -2.4 -5.36 -5.36 l0 -3.12 l3.8 0 l0 3.12 c0 0.88 0.72 1.56 1.56 1.56 c0.88 0 1.56 -0.68 1.56 -1.56 l0 -1.72 l-6.92 -7.16 l0 -3.16 c0 -2.96 2.4 -5.4 5.36 -5.4 s5.36 2.44 5.36 5.4 l0 2.48 l-3.8 0 l0 -2.48 c0 -0.88 -0.68 -1.56 -1.56 -1.56 c-0.84 0 -1.56 0.68 -1.56 1.56 l0 1.6 l6.92 7.2 l0 3.24 c0 2.96 -2.4 5.36 -5.36 5.36 z"
                  />
                </g>
              </g>
            </svg>
          </p>
        </div>
        <ul class="navlist">
          <a href="">
            <li>Men</li>
          </a>
          <a href="">
            <li>Women</li>
          </a>
          <a href="">
            <li>Collections</li>
          </a>
          <a href="">
            <li>Type</li>
          </a>
        </ul>
        <ul class="iconslist">
          <li>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </li>
          <a href="">
            <li>
              <i class="bi bi-cart-plus"></i>
            </li>
          </a>
          <a href="/login">
            <li><i class="bi bi-person-circle"></i></li>
          </a>
        </ul>
      </nav>
    </div>
    <div class="productimg">
      <% selected.images.forEach((img ,index) => { %>
      <img
        width="400"
        src="/upload/<%= img  %>"
        alt=""
        srcset=""
        data-index="<%= index++ %>"
      />
      <% }) %>
    </div>
    <div class="for">
      <p><%= selected.for %></p>
    </div>
    <form action="/order/<%= selected._id %>/userId/<%= user %>" method="post">
      <div class="pnp">
        <input
          type="hidden"
          name="productName"
          value="<%= selected.productName %>"
        />
        <input type="hidden" name="price" value="<%= selected.price %>" id="" />

        <p><%= selected.productName %></p>
        <p><%= selected.price %>$</p>
        <p class="type"><%= selected.type %></p>
      </div>
      <div class="desc">
        <p><%= selected.description %></p>
        <hr class="mt-2" />
      </div>
      <ul class="colorlist mt-2">
        <% selected.colors.forEach((color) => { %>
        <input
          type="checkbox"
          name="color"
          class="ms-3"
          value="<%= color %>"
          style="
            appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid black;
            outline: none;
            border-radius: 2px;

            background-color: <%= color %>;
          "
          onchange="toggleShadow(this)"
        />

        <% }) %>
      </ul>
      <div class="sizes mt-2">
        <ul class="sizelist">
          <% selected.sizes.forEach((size) => { %>

          <label class="form-check-label ms-2">
            <input
              type="checkbox"
              value="<%= size %>"
              name="size"
              class="form-check-input ms-5"
            />
            <p class="si"><%= size %></p>
          </label>
          <% }) %>
        </ul>
      </div>
      <div class="quantity">
        <label for="" class="form-label">Qauntituy</label>
        <input
          type="number"
          name="quntity"
          maxlength="<%= selected.quantity %>"
          class="form-control"
        />
      </div>
      <button type="submit" class="cart">Add TO Cart</button>
    </form>

    <script>
      src =
        "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js";
      integrity =
        "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz";
      crossorigin = "anonymous";
    </script>
    <script src="/js/product.js"></script>
  </body>
</html>
